body {
    font-family: Arial, sans-serif;
}

#app {
    width: 300px;
    margin: auto;
    padding: 20px;
    border: 2px solid #aaaaaa;
    box-shadow: 0 0 10px #aaaaaa;
    border-radius: 5px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

button {
    padding: 5px 10px;
    background-color: #1801c5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#taskList{
    width: 270px;
    margin: auto;
    margin-top: 20px;
    padding:  0 10px;
    border: 1px solid #aaaaaa;
    box-shadow: 0 0 5px #08fffb;
    border-radius: 5px;
}
.delete{
    background-color: red;
}
h4 i{
    color: blue;
    font-size: 20px;
}

button:hover{
    box-shadow: 0 0 5px blue;
    background-color: #412ed6;
    transition: background-color 0.3s;
    transition: box-shadow 0.3s;

}
.delete:hover{
    box-shadow: 0 0 5px red;
    background-color: #d62e2e;
    transform: 0.5s;
}
footer{
    color:indigo;
    font-size: 10px;
    text-align: right;
    padding-top: 20px;
}